import(RJSONIO, RCurl, igraph, shiny, sigma, dplyr, base64enc)

exportPattern("^[[:alpha:]]+")
export("%>%")
export("%<>%")
export("%$%")
importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")
importFrom(magrittr,"%$%")
importFrom(rgexf,"write.gexf")
importFrom(base64enc, "base64encode")
